{% extends "base.html.twig" %}

{% block title %}Hello to Frontoffice Skeleton{% endblock %}

{% block body %}
    <main class="main container">
        <section>
            <header><h1>Hello to Frontoffice Skeleton</h1></header>
            <div></div>
            <footer></footer>
        </section>

    </main>
{% endblock %}